<h1>Add Post</h1>

<form action="/post" method="POST">
  <p>Name: <input type="text" name="name" /></p>
  <p>Email: <input type="text" name="email" /></p>

  <p>Title: <input type="text" name="title" /></p>
  <p>Image: <input type="text" name="image" /></p>
  <p>
    Body: <br />
    <textarea cols="60" rows="3" name="body"></textarea>
  </p>

  <p><input type="submit" value="Add post" /></p>
</form>
